<div class="login-container">
  <nz-card [nzBordered]="false" [nzTitle]="'Login'" class="login-card">
    <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'Please input your email!'">
          <nz-input-group nzPrefixIcon="mail">
            <input nz-input formControlName="email" placeholder="Email"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'Please input your password!'">
          <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Password"
              formControlName="password"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
              <span
                nz-icon
                [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"
              ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="remember">Remember me</label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [nzLoading]="loading" type="submit">Log in</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>
